<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yunzhu.module.main">

    <application
        android:name="debug.MainApplication"
        android:label="Main Module"
        android:allowBackup="false"
        android:icon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup,android:label">

        <activity android:name=".ui.MainContainerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.MainMapActivity" />
        <activity android:name=".ui.MainFunModuleActivity" />
        <activity android:name=".ui.MainMapRouteActivity"/>
        <activity android:name=".ui.MainMapMarkerActivity" />
        <activity android:name=".ui.MainMapMyLocationActivity" />
        <activity android:name=".ui.MainBusModuleActivity" />
    </application>

</manifest>
