<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yunzhu.module.main">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>
        <activity android:name=".ui.MainBehaviorActivity"></activity>
        <activity android:name=".ui.MainContainerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.MainMapActivity" />
        <activity android:name=".ui.MainFunModuleActivity" />
        <activity android:name=".ui.MainMapRouteActivity" />
        <activity android:name=".ui.MainMapMarkerActivity" />
        <activity android:name=".ui.MainMapMyLocationActivity" />
        <activity android:name=".ui.MainBusModuleActivity" />
    </application>

</manifest>